          @media screen and (max-width:1200px){
            .mainrow{
                display: flex;
                flex-direction: column-reverse;
            }
            .mainrow .col-lg-5{

                margin:20px 0px 20px 0px;
            }
        }
        
