*_{
    margin: 0;
    padding:0;
}
.maincontainer{
    max-height:85%;

}
.maincontent ul{
    height:30px;
    background:rgb(15, 14, 14);
    justify-content: left;
    
}

.maincontent ul li{
    list-style: none;
    padding:5px 20px 5px 20px;
    cursor:pointer;
    color: white;
}
.maincontent ul li:hover{
background: white;
color: black;
}
