*{
    margin:0;
    padding:0;
  
}
.con1{
    background:rgba(34, 31, 31, 0.02);
    margin-top: 20px;
}
nav .row{

    display:flex;
    height: 60px;
    align-items: center; 
   
}
nav p{
    font-size: 20px;
    text-align: center;
}
ul{
    display:flex;

    justify-content: space-around;

    font-size: 20px;
  
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}